.Banner{
	font-family: 'Unbounded', cursive;
}
.button{
  transition: 200ms ease-in-out;
  border:3px solid #FAF33E;
  border-radius: 10px;
}
.button:hover{
background-color: white;
border:3px solid #273038;
color:#273038;
}

/* Portrait movement */
.bx{
  transition: ease-in-out 1s all;
}

@media(min-width:1750px){

.Banner:hover .spread{
  transform: translateX(20px) translateY(-40px);

}

.Banner:hover .spread2{
  transform: translateX(-200px) translateY(10px);

}

.Banner:hover .spread3{
  transform: translateX(-200px) translateY(10px);
}

.Banner:hover .add-shadow{
  box-shadow: 0 20px 25px -5px #c3c3c3
}


}


/* TypeWriter */
.line-1{
   
	margin: 60px 0;
    border-right: 6px solid #FAF33E;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}


@keyframes typewriter{
  from{width: 0;}
  to{width:18.5em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: #FAF33E;}
  to{border-right-color: transparent;}
}