.Skills{
    font-family: 'Unbounded', cursive;

}
.shd{
    /* box-shadow: -10px 10px 20px #FAF33E; */
    box-shadow: -7px 7px 25px #FAF33E;
    
}
/* SQUARES */
.square{
    background: rgb(250,243,62);
    transform: rotate(65deg);
    background: linear-gradient(90deg, rgba(250,243,62,1) 0%, rgba(255,244,131,1) 100%);
    border-radius: 5px;
    animation: rotate 40s ease-in-out infinite;
    transition: ease-in-out 2s all;
}
.square-m{
    background: rgb(250,243,62);
    transform: rotate(65deg);
    background: linear-gradient(90deg, rgba(250,243,62,1) 0%, rgba(255,244,131,1) 100%);
    border-radius: 5px;
    animation: rotate-m 70s ease-in-out infinite;
    transition: ease-in-out 2s all;
}
.square-s{
    background: rgb(250,243,62);
    transform: rotate(65deg);
    background: linear-gradient(90deg, rgba(250,243,62,1) 0%, rgba(255,244,131,1) 100%);
    border-radius: 5px;
    animation: rotate-s 50s ease-in-out infinite;
    transition: ease-in-out 2s all;
}



.square2{
    background: rgb(250,243,62);
    transform: rotate(65deg);
    background: linear-gradient(90deg, rgba(250,243,62,1) 0%, rgba(255,244,131,1) 100%);
    border-radius: 5px;
    animation: rotate2 40s ease-in-out infinite;
    transition: ease-in-out 2s all;
}
.square2-m{
    background: rgb(250,243,62);
    transform: rotate(65deg);
    background: linear-gradient(90deg, rgba(250,243,62,1) 0%, rgba(255,244,131,1) 100%);
    border-radius: 5px;
    animation: rotate2-m 40s ease-in-out infinite;
    transition: ease-in-out 2s all;
}
.square2-s{
    background: rgb(250,243,62);
    transform: rotate(65deg);
    background: linear-gradient(90deg, rgba(250,243,62,1) 0%, rgba(255,244,131,1) 100%);
    border-radius: 5px;
    animation: rotate2-s 50s ease-in-out infinite;
    transition: ease-in-out 2s all;
}

@keyframes rotate{
    0%{
        transform: rotate(76deg);
        right:600px;
        top:850px
    }
    25%{
        right:200px;
    }
    50%{
        transform: rotate(340deg);
        right:600px;
        top:1600px;
    }
    75%{
        right:200px;
    }
    100%{
        transform: rotate(76deg);
        right:600px;
        top:850px;
    }
}
@keyframes rotate-m{
    0%{
        transform: rotate(76deg);
        right:750px;
        top:700px
    }
    25%{
        right:200px;
    }
    50%{
        transform: rotate(340deg);
        right:600px;
        top:1600px;
    }
    75%{
        right:200px;
    }
    100%{
        transform: rotate(76deg);
        right:750px;
        top:700px;
    }
}
@keyframes rotate-s{
    0%{
        transform: rotate(76deg);
        left:450px;
        top:700px
    }
    25%{
        left:200px;
    }
    50%{
        transform: rotate(340deg);
        left:600px;
        top:1600px;
    }
    75%{
        left:200px;
    }
    100%{
        transform: rotate(76deg);
        left:450px;
        top:700px;
    }
}

@keyframes rotate2{
    0%{
        transform: rotate(76deg);
        left:600px;
        top:1600px
    }
    25%{
        left:200px;
    }
    50%{
        transform: rotate(360deg);
        left:600px;
        top:850px;
    }
    75%{
        left:200px;
    }
    100%{
        transform: rotate(76deg);
        left:600px;
        top:1600px;
    }
}
@keyframes rotate2-m{
    0%{
        transform: rotate(76deg);
        left:600px;
        top:850px
    }
    25%{
        left:200px;
    }
    50%{
        transform: rotate(340deg);
        left:600px;
        top:1600px;
    }
    75%{
        left:200px;
    }
    100%{
        transform: rotate(76deg);
        left:600px;
        top:850px;
    }
}
@keyframes rotate2-s{
    0%{
        transform: rotate(76deg);
        right:450px;
        top:1600px
    }
    25%{
        right:200px;
    }
    50%{
        transform: rotate(340deg);
        right:600px;
        top:820px;
    }
    75%{
        right:200px;
    }
    100%{
        transform: rotate(76deg);
        right:450px;
        top:1600px;
    }
}


