.Project .shadowspec{
    box-shadow: 0 20px 60px #FAF33E;
}
.Project ul li::before {
    content: "\2022";
    color: #FAF33E;
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
  }